h1,
h2,
p,
span,
a,
li {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.spacing-s {
  width: 1em;
  height: 1em;
}

.spacing-m {
  width: 2em;
  height: 2em;
}

.spacing-l {
  width: 3em;
  height: 3em;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-pitch {
  padding: 0 1em;
  padding-top: 0.5em;
  background: rgba(0, 0, 0, 0) url("/img/bg1.png") no-repeat scroll center
    center / cover;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-size: 2em;
  font-weight: 600;
  margin-top: 0;
}

.dart {
  position: relative;
  right: 31px;
  top: 23px;
  width: 40px;
  height: auto;
}

.subtitle {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 0.6em 0;
}

.text {
  font-weight: 300;
  font-size: 0.875em;
}

.button-inner {
  display: flex;
}

.add-to-store-button {
  font-weight: 500;
  position: relative;

  color: #444;
  border: 0 none;
  text-decoration: none;

  padding: 4px 16px;

  background: transparent none repeat scroll 0 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-to-store-button:before {
  position: absolute;
  content: "";
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  top: -2px;
  left: -2px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, #00e4e2 0%, #81ee8e 100%) repeat scroll 0 0;
  z-index: -2;
}

.add-to-store-button:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 100px;
  background: #fff none repeat scroll 0 0;
  z-index: -1;
  box-sizing: border-box;
}

.add-to-store-button:hover {
  color: #fff;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); */
}

.add-to-store-button:hover:after {
  opacity: 0;
  outline: none;
}

.header-sneakpeek {
  position: relative;
  width: 100%;
  height: auto;
  right: -18%;
  margin: 2em 0;
}

.main-pitch {
  background: rgba(0, 0, 0, 0) url("/img/bg2.png") no-repeat scroll center
    center / cover;

  padding: 0 1em;

  margin: 2em 0;
}

.steps-title {
  margin: 0;
}

.steps-list {
  margin-top: 0;
  padding-left: 1em;
  list-style: decimal;
  font-weight: 300;
  font-size: 0.875em;
}

.soundness-pitch {
  padding: 0 1em;
  background: rgba(0, 0, 0, 0) url("/img/bg3.png") no-repeat scroll center
    center / cover;
}

.soundness-text {
  margin: 0;
}

.soundness-graph {
  float: right;
  margin-top: 2em;
  margin-right: -2.2em;
  margin-left: 1em;
}

.three-pitch {
  padding: 0 1em;
  background: rgba(0, 0, 0, 0) url("/img/bg4.png") no-repeat scroll center
    center / cover;
}

.three-bit {
  margin-top: 3em;
}

.end-activation {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  align-items: center;
}

.vertical-line {
  background-color: black;
  width: 1px;
  height: 24px;
}

.end-activation-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0 3em 0;
}

.end-activation-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.end-buttons {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}

@media (min-width: 600px) {
  .header {
    flex-wrap: nowrap;
    background: rgba(0, 0, 0, 0) url("/img/bg1-wide.png") no-repeat scroll
      center center / cover;
  }

  .header-pitch {
    background: none;
  }

  .header-sneakpeek {
    width: 40%;
    position: static;
    margin: 4em 4em;
  }

  .soundness-pitch {
    padding: 0 1em;
    background: rgba(0, 0, 0, 0) url("/img/bg3-wide.png") no-repeat scroll
      center center / cover;
  }

  .pitch-title {
    font-size: 40px;
  }

  .soundness-graph {
    width: 300px;
    margin: 0 4em 0 4em;
  }

  .three-pitch {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .three-bit {
    width: 31%;
  }

  .three-bit h2 {
    min-height: 3em;
  }

  .end-activation-text {
    margin: 0.5em 0 1em 0;
  }

  .end-buttons {
    display: flex;
    margin: auto;
    flex-direction: row;
  }

  .main-pitch {
    background: none;
  }

  .three-pitch {
    background: none;
  }

  .last-two-sections {
    padding: 1em;
    background: rgba(0, 0, 0, 0) url("/img/bg4-wide.png") no-repeat scroll
      center center / cover;
  }

  .end-activation {
    margin-bottom: 6em;
  }

  .end-activation-text {
    font-size: 40px;
  }

  .end-buttons {
    display: flex;
  }

  .title {
    font-size: 4em;
  }
}
