ul {
  list-style-type: none;
  padding: 0;
}

.price-experiment-wrapper {
  margin-bottom: 1em;
}

.price-experiment-wrapper:last-child {
  margin-bottom: 0;
}

.price-experiment .Polaris-Heading {
  margin-bottom: 1.25em;
}
