ul {
  list-style-type: none;
  padding: 0;
}

.price-experiment-wrapper {
  margin-bottom: 1em;
}

.price-experiment-wrapper:last-child {
  margin-bottom: 0;
}

.price-experiment .Polaris-Heading {
  margin-bottom: 1.25em;
}

@custom-media --for-phone-only (max-width: 599px);
@custom-media --for-tablet-portrait-up (min-width: 600px);
@custom-media --for-tablet-landscape-up (min-width: 600px);
@custom-media --for-desktop-up (min-width: 600px);
@custom-media --for-tablet-portrait-up (min-width: 600px);
