h1,
h2,
p,
span,
a,
li {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: #7fdaab;
}

.spacing-s {
  width: 1em;
  height: 1em;
}

.spacing-m {
  width: 2em;
  height: 2em;
}

.spacing-l {
  width: 3em;
  height: 3em;
}

.header {
  display: flex;
  flex-direction: row;
}

.header-pitch {
  padding: 0 1em;
  padding-top: 0.5em;
  background: rgba(0, 0, 0, 0) url("/img/bg1.png") no-repeat scroll center
    center / cover;
}

.header {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.title {
  font-size: 2.5em;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.dart {
  position: relative;
  right: 31px;
  top: 23px;
  width: 40px;
  height: auto;
}

.subtitle {
  margin-top: -0.5em;
}

.header-title {
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 1em 0;
}

.text {
  font-weight: 300;
  font-size: 0.875em;
}

.button-inner {
  display: flex;
}

.add-to-store-button {
  border-radius: 100em;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 3em;
  text-decoration: none;
  color: black;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(to right, #00e4e2 0%, #81ee8e 100%);
  background-origin: border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.35s ease-in-out;
}

.add-to-store-button:hover {
  box-shadow: none;
  color: white;
}

.header-sneakpeek {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateX(+24%);
}

.desktop-continuation {
  display: none;
  margin-top: 3em;
}

.main-pitch {
  background: rgba(0, 0, 0, 0) url("/img/bg2.png") no-repeat scroll center
    center / cover;

  padding: 0 1em;

  margin: 2em 0;
}

.steps-title {
  margin: 0;
}

.steps-list {
  margin-top: 0;
  padding-left: 1em;
  list-style: decimal;
  font-weight: 300;
  font-size: 0.875em;
}

.soundness-pitch {
  padding: 0 1em;
  background: rgba(0, 0, 0, 0) url("/img/bg3.png") no-repeat scroll center
    center / cover;
}

.soundness-graph {
  display: none;
  float: right;
}

.three-pitch {
  padding: 0 1em;
  background: rgba(0, 0, 0, 0) url("/img/bg4.png") no-repeat scroll center
    center / cover;
}

.three-bit {
  margin-top: 3em;
}

.end-activation {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  align-items: center;
}

.vertical-line {
  background-color: black;
  width: 1px;
  height: 24px;
}

.end-activation-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0 3em 0;
}

.end-activation-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.end-buttons {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  display: flex;
}

.teammember-container {
  display: flex;
  flex-direction: column;
  padding: 2em 0 2em 0;
}

.teammember-face {
  max-width: 200px;
}

.getting-started-video {
  max-width: 80%;
}

.getting-started-img {
  max-width: 80%;
}

.checkout-snippet {
  min-width: 50%;
}

@media (min-width: 600px) {
  .getting-started-img {
    max-width: 60%;
  }
  .subtitle {
    margin-top: -1em;
  }

  .header {
    flex-wrap: nowrap;
    background: rgba(0, 0, 0, 0) url("/img/bg1-wide.png") no-repeat scroll
      center center / cover;
  }

  .header-pitch {
    background: none;
    padding-top: 4em;
    padding-left: 4em;
  }

  .header-sneakpeek {
    transform: none;
    margin: 4em 4em;
    width: 50%;
  }

  .desktop-continuation {
    display: block;
    margin-top: 2em;
  }

  .main-pitch {
    display: none;
  }

  .soundness-pitch {
    padding: 2em 4em;
    background: rgba(0, 0, 0, 0) url("/img/bg3-wide.png") no-repeat scroll
      center center / cover;
  }

  .pitch-title {
    font-size: 40px;
  }

  .soundness-graph {
    display: initial;
    width: 36%;
    max-width: 300px;
    margin: 2em 4em;
  }

  .three-pitch {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4em;
  }

  .three-bit {
    width: 31%;
    margin-top: 0;
  }

  .three-bit h2 {
    min-height: 3em;
  }

  .end-activation-text {
    margin: 0.5em 0 1em 0;
  }

  .end-buttons {
    display: flex;
    margin: auto;
    flex-direction: row;
  }

  .main-pitch {
    background: none;
  }

  .three-pitch {
    background: none;
  }

  .last-two-sections {
    padding: 1em;
    background: rgba(0, 0, 0, 0) url("/img/bg4-wide.png") no-repeat scroll
      center center / cover;
  }

  .end-activation {
    margin-top: 2em;
    margin-bottom: 6em;
  }

  .end-activation-text {
    font-size: 40px;
  }

  .end-buttons {
    display: flex;
  }

  .title {
    font-size: 4em;
  }

  .soundness-text {
    max-width: 50%;
  }

  .teammember-container {
    flex-direction: row;
  }

  .teammember-face {
    margin-right: 1em;
  }

  .teammember-name {
    margin-top: 0em;
  }
}

@media (min-width: 1000px) {
  .soundness-graph {
    margin: 0;
  }
}
