.variantRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productTable {
  box-sizing: border-box;
  width: 100%;
  text-align: left;
}

.confirmText {
  margin-bottom: 1em;
}

.selectProductsContainer {
  display: flex;
  align-items: center;
}

.eligibilityMessage {
  margin-left: 1em;
}
